
</body>
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/estilo.css">

<script src="../js/jquery-3.3.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.js"></script>

<footer class="footer mt-auto py-3">
    <div class="container">
        <nav class="navbar fixed-bottom navbar-light " style="background-color: greenyellow;">
            <p class="navbar-brand" style="font-family: 'Courier New', Courier, monospace;" href="#">
                Ligia Abril 0901 16 100<br>
                Conny Barrios 0901 15 4555</p>
        </nav>
    </div>
</footer>

</html>