<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/estilo.css">

<div class="container text-center h1 display-1">
    Bienvenidos a PicCloud
</div>
<br>
<div class="container text-center h3 alert-success">
    PicCloud es una pagina dedicada a guardar fotos de tus bellos momentos de tu vida.
</div>
<br>
<div class="container text-center h2">
    <img class="img-fluid col-md-4 col-sm-4 col-12" alt="" height="50" src="../img/user.png">
</div>
<br><br><br>
<script src="../js/jquery-3.3.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.js"></script>