<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/estilo.css">
<link rel="stylesheet" href="../css/estilo.css">


<h1 class="text-light m-4 font-weight-bold display-1 bg-success text-center">PERFIL</h1>
<div class="container">
    <div class="row alert-success">
        <div class="container m-4 col-4 ">
            <img class="img-fluid border border-success
            shadow-lg p-3 mb-3 rounded col-md-6 col-sm-6 col-12 bg-white" alt="" height="50" src="../img/user.png">
        </div>
        <div class="col nombre_usuario"> 
            <br>
            <p class="display-3 text-center">
                USUARIO
            </p>
        </div>
    </div>
</div>
<br>
<div class="container col-11 " style="background-color:greenyellow;"> 
    <br>
    <div class="coll-10 bg-dark text-light">
        <br>
        <p class="container" id="nombre">Nombre: </p>
        <p class="container" id="edad">Edad: </p>
        <p class="container" id="email">Email: </p>
        <p class="container" id="fecha">Fecha en que se unio: </p>
    <script src="../js/llenarDatos.js">ingresarDatos()</script>
        <br>
    </div>
    <br>
    <div class="coll-10 bg-dark text-light" >
        <br>
        <br>
    </div>
    <br>
</div>

<br><br><br><br>
<script src="../js/jquery-3.3.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/llenarDatos.js"></script>